@using Microsoft.AspNetCore.Authorization
@model IEnumerable<DHB_Win.Models.AchievedAchievement>

@inject IAuthorizationService AuthorizationService

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var isAdministratorResult = await AuthorizationService.AuthorizeAsync(User, "isAdministrator");
}
@if (isAdministratorResult.Succeeded)
{
    <h1>
        <a asp-action="Create" asp-controller="Achievement" class="btn btn-sm btn-info float-left">Achievement Erstellen</a>
    </h1>
}
<h1>Achievements</h1>
<p>
    <a asp-action="Details" class="btn btn-sm btn-info float-left">Alle Achievements ansehen</a>
    <br>
</p>
<div class="card-body">
    <div class="row">
        <div class="col-md-12 col-lg-6 col-xl-4">
            <div class="card mb-2 bg-gradient-dark">
                <img class="card-img-top" src="../dist/img/elgordo.jpg" alt="Dist Photo 1">
                <div class="card-img-overlay d-flex flex-column justify-content-end">
                    <h5 class="card-title text-primary text-white">El Gordo</h5>
                    <p class="card-text text-white pb-2 pt-1">Gewinne eine Wette mit einer Erfolgsquote unter 10%</p>
                    <a class="text-white">25 Betcoin</a>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-6 col-xl-4">
            <div class="card mb-2 bg-gradient-dark">
                <img class="card-img-top" src="../dist/img/SlumdogMillionaire.jpg" alt="Dist Photo 1">
                <div class="card-img-overlay d-flex flex-column justify-content-end">
                    <h5 class="card-title text-primary text-white">Slumdog Millionaire</h5>
                    <p class="card-text text-white pb-2 pt-1">Steige in die Top 10 auf.</p>
                    <a class="text-white">20 Betcoin</a>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-6 col-xl-4">
            <div class="card mb-2">
                <img class="card-img-top" src="../dist/img/trendsetter.png" alt="Dist Photo 3">
                <div class="card-img-overlay">
                    <h5 class="card-title text-white">Trendsetter</h5>
                    <p class="card-text pb-1 pt-1 text-white">
                    Erstelle eine Wette mit mehr als 10 Teilnehmern.
                    </p>
                    <a class="text-white">10 Betcoin</a>
                </div>
            </div>
        </div>
    </div>
</div>
