@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="card-body row">
    <div class="col-5 text-center d-flex align-items-center justify-content-center">
        <div class="">
            <h2>DH<strong>B-Win</strong></h2>
            <p class="lead mb-5">
                Lodermühle 2a, Konnersreuth, 95692 Deutschland<br>
                Phone: +49 175 1898592
            </p>
        </div>
    </div>
    <div class="col-7">
        <div class="form-group">
            <label for="inputName">Name</label>
            <input type="text" id="inputName" class="form-control">
        </div>
        <div class="form-group">
            <label for="inputEmail">E-Mail</label>
            <input type="email" id="inputEmail" class="form-control">
        </div>
        <div class="form-group">
            <label for="inputSubject">Thema</label>
            <input type="text" id="inputSubject" class="form-control">
        </div>
        <div class="form-group">
            <label for="inputMessage">Nachricht</label>
<textarea id="inputMessage" class="form-control" rows="4"></textarea>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Senden">
        </div>
    </div>
</div>